<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="wakamonogはWebアプリの開発者からISPの運用者まで幅広い>分野でインターネット支える若者たちのコミュニティを目指します。" />
    <meta name="keywords" content="wakamonog,わかものぐ,若者g,janog" />
    <meta name="author" content="wakamonog committee" />
    <link rel="canonical" href="http://wakamonog.jp/"/>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="simple.css" />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-595990-6']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>

{{ content }}

    <div id="footer">
      <p class="lang"><a href="/">[日本語]</a> <a href="/index.en.html">[English]</a></p>
      <small>Copyright &copy; 2012- wakamonog, all rights reserved.</small>
    </div>
  </body>
</html>

